.cardContainer {
	display: flex;
	flex-direction: column;
	background-color:#fff805;
	border: 2px solid #ffd705;
	border-radius: 10px;
	padding: 25px;
	cursor: pointer;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: transform 0.25s ease-out;
    height: 300px;
    width: 250px;
    margin: auto;
}

.cardContainer:hover {
	transform: scale(1.05);
}

img {
    max-width: 150px;
    max-height: 150px;
    margin: auto;
  }

.tittle {
	display: inline;
	vertical-align:text-bottom;
}

.addCartButton{
	background-color: #ffeebc;
	border-radius: 10px;
    border: 1px solid black;
	-webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
	width: 125px;
	margin: auto;
}


.addCartButton:hover {
    background-color: #f9cc9d;
    color: white;
}

.addCartButton:active {
	transform: translateY(4px);
}

.itemName {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}